.nav .stripes {
    display: flex;
    position: absolute;

    top: 55px;
    transform: translate(0, 0);

    height: 88px;
    flex-direction: column;

    justify-content: space-between;
}

.nav .stripe {
    height: 5px;
    width: 100vw;

    background-color: var(--bittersweet);

    left: 0;
}

.nav .title {
    position: absolute;
    cursor: pointer;

    z-index: 2;
    top: 99px;
    left: 200px;

    transform: translate(-50%, -50%);

    color: var(--french-sky-blue);
    font-size: 52px;

    /* pointer-events: none; */

    text-shadow:
    -6px -6px 0 var(--royal-blue-dark),
        0   -6px 0 var(--royal-blue-dark),
        6px -6px 0 var(--royal-blue-dark),
        6px  0   0 var(--royal-blue-dark),
        6px  6px 0 var(--royal-blue-dark),
        0    6px 0 var(--royal-blue-dark),
    -6px  6px 0 var(--royal-blue-dark),
    -6px  0   0 var(--royal-blue-dark);
}

.nav .title:hover {
    background-color: white;
}

.nav .clef {
    z-index: 2;

    height: 155px;

    position: absolute;
    left: 25px;
    top: 8px;
} 