.button {
    width: 200px;
    height: 200px;

    border-radius: 15%;

    background-color: var(--french-sky-blue);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    transition: transform .25s linear;
}

.button:hover {
    transform: scale(1.01);
}

.button a{
    font-size: 25px;
    color: black;
}

.button img {
    margin: 15px;
}

.button:hover {
    cursor: pointer;
}

.buttonHolder {
    display: flex;
    flex-direction: row;

    margin: 0 auto;

    width: 600px;
    justify-content: space-between;

    overflow: visible;
}

.inputs {
    position: absolute;
    display: flex;

    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);

    flex-direction: row;
}

.board {
    display: flex;

    cursor: pointer;

    justify-content: center;
    align-items: center;

    font-size: 48px;

    width: 80px;
    height: 80px;
    border-radius: 5%;

    margin: 15px;

    background-color: var(--beau-blue);
}

.submitBtn {
    position: absolute;

    cursor: pointer;

    left: 65%;
    top: 75%;

    margin: 15px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 50px;

    width: 190px;
    height: 80px;
    border-radius: 5%;

    background-color: var(--bittersweet);
    transition: filter .25s ease-out;
}

.submitBtn:hover {
    filter: brightness(1.1);
}

.score {
    position: absolute;

    text-align: left;

    font-size: 55px;
    color: var(--beau-blue);

    left: 20%;
    top: 75%;

    margin: 15px;
}

.textYes {
    display: flex;
    position: absolute;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;

    left: 50%;
    top: 25%;

    color: var(--glaucous);
    font-size: 50px;

    transform: translate(-50%, 0);
}