@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

:root {
  --royal-blue-dark: #001c55ff;
  --glaucous: #5e7ce2ff;
  --french-sky-blue: #92b4f4ff;
  --beau-blue: #cfdee7ff;
  --bittersweet: #ff6b6bff;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Rowdies', cursive;
  overflow: hidden;
}

.main {
  background-color: var(--royal-blue-dark);

  width: 100vw;
  height: 100vh;
}

.stripes {
  display: flex;
  position: absolute;

  top: 50%;
  transform: translate(0, -50%);

  height: 350px;
  flex-direction: column;

  justify-content: space-between;
}

.stripe {
  height: 17px;
  width: 100vw;

  background-color: var(--bittersweet);

  left: 0;
}

.title {
  position: absolute;
  top: 50%;
  left: 60%;

  transform: translate(-50%, -50%);

  color: var(--french-sky-blue);
  font-size: 150px;

  pointer-events: none;

  text-shadow:
  -15px -15px 0 var(--royal-blue-dark),
   0   -15px 0 var(--royal-blue-dark),
   15px -15px 0 var(--royal-blue-dark),
   15px  0   0 var(--royal-blue-dark),
   15px  15px 0 var(--royal-blue-dark),
   0    15px 0 var(--royal-blue-dark),
  -15px  15px 0 var(--royal-blue-dark),
  -15px  0   0 var(--royal-blue-dark);
}

.clef {
  z-index: 2;
  position: absolute;
  left: 5%;
} 

.MIDISounds *{
  width: 0 !important;
}